<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查询</title>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<link rel="stylesheet" href="/css/index.css">
<!-- 引入组件库 -->
<script src="/js/index.js"></script>
</head>
<body>
	<div id="app">
		<el-form :inline="true" :model="patient" class="demo-form-inline">
			  <el-form-item label="病人姓名">
			    <el-input v-model="patient.name" placeholder="请输入病人姓名"></el-input>
			  </el-form-item>
			  <el-form-item>
			    <el-button type="primary" @click="onSubmit">查询</el-button>
			  </el-form-item>
			<el-form-item label="是否在院">
       	 <el-radio-group v-model="patient.status" size="medium">
            <el-radio border label="在院" >在院病人</el-radio>
            <el-radio border label="出院" >出院病人</el-radio>
        </el-radio-group>
    	</el-form-item>
		</el-form>
		<template>
			<el-table :data="patients" border style="width: 100%"> 
			<el-table-column fixed prop="id" label="病人编号"></el-table-column> 
			<el-table-column prop="name" label="姓名"> </el-table-column>
			<el-table-column prop="phone" label="电话号码"> </el-table-column> 
			<el-table-column prop="sex" label="性别"> </el-table-column>
			<el-table-column prop="age" label="年龄"> </el-table-column> 
			<el-table-column prop="department" label="科室"> </el-table-column> 
			<el-table-column prop="beds" label="床位"> </el-table-column> 
			<el-table-column prop="status" label="状态"> </el-table-column> 
			<el-table-column label="操作">
			<template slot-scope="scope">
				<el-button  @click="selectMoney(scope.row.id)" type="text" size="small">查看费用详情</el-button>
			</template>
			</el-table-column>
  			</el-table>
  			<template>
			  <div class="block">
			    <el-pagination
			      @size-change="handleSizeChange"
			      @current-change="handleCurrentChange"
			      :current-Page="page.pageNum"
			      :page-sizes="[6, 12, 18, 24]"
			      :page-size="page.pageSize"
			      layout="total, sizes, prev, pager, next, jumper"
			      :total="page.total">
			    </el-pagination>
			  </div>
		</template>
  			<el-dialog title="提示" :visible.sync="insertbedsDialogVisible" width="30%">
		  	<template>
			<el-table :data="moneyDetail" border style="width: 100%"> 
			<el-table-column fixed prop="detail" label="费用详情"></el-table-column> 
			<el-table-column prop="money" label="剩余费用"> </el-table-column>
			<el-table-column prop="time" label="消费时间"> </el-table-column></el-table-column>
  			</el-table>
  			</template>
    		<el-button @click="insertbedsDialogVisible = false">取 消</el-button>
    		
 			</span>
			</el-dialog>
			</template>
	</div>
	<script type="text/javascript">
	var vm=new Vue({
		el:'#app',
		data:{
			patient:{},
			
			patients:[],
			
			page:{
				total:0,
				pageNum:0,
				pageSize:0,
			},
			limit:{
				pageNum:1,
				pageSize:6,
			},
			moneyDetail:[],
			insertbedsDialogVisible:false,
		},
		created:function(){
			this.selectPatients();
		},
		methods:{
			onSubmit:function(){
				 var _this=this;
				 this.selectPatients();
			},
			 handleSizeChange(val) {
				 var _this=this;
			      _this.limit.pageSize=val;
			      _this.selectPatients();
			      },
			      handleCurrentChange(val) {
			    	  var _this=this;
			    	  _this.limit.pageNum=val;
				      _this.selectPatients();
			      },
			   selectPatients:function(){
				var _this=this;
				$.ajax({
					url:"/patient/select",
					data:{pageNum:_this.limit.pageNum,pageSize:_this.limit.pageSize,name:_this.patient.name,status:_this.patient.status},
					success:function(data){
						if(data.code=="200"){
							_this.patients=data.obj.list;
							for(var i=0;i<_this.patients.length;i++){
								if(_this.patients[i].sex==1){
									_this.patients[i].sex="男";
								}else{
									_this.patients[i].sex="女";
								}
								if(_this.patients[i].beds=="0"){
									_this.patients[i].beds="未安排床位"
								}
							}
							_this.page.total=data.obj.total;
							_this.page.pageNum=data.obj.pageNum;
							_this.page.pageSize=data.obj.pageSize;
						}
						
					}
				});
			},
			selectMoney:function(id){
				var _this=this;
				_this.insertbedsDialogVisible=true;
				$.ajax({
					url:"/moneyDetail/selectById",
					data:{id:id},
					success:function(data){
						if(data.code=="200"){
							_this.moneyDetail=data.list;
						}
					}
				});
			},
			
		},
	})
	</script>
</body>
</html>
